# ArcAuth Microservice Environment Example Configuration
AUTHX_PORT=
DATABASE_URL=
REDIS_URL=

# Email Provider
EMAIL_PROVIDER=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
RESEND_API_KEY=
RESEND_FROM=

# SMS Provider
SMS_PROVIDER=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
TWILIO_FROM_PHONE=
TWILIO_VERIFY_SERVICE_SID=
MESSAGEBIRD_ACCESS_KEY=
MESSAGEBIRD_ORIGINATOR=
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_FROM=
TEXTLOCAL_API_KEY=
TEXTLOCAL_SENDER=

# OAuth 2.0 Credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Social Signups Policy
SOCIAL_NO_NEW=
DISABLE_SOCIAL_SIGNUP=

# Frontend & Gateway URLs
FRONTEND_URL=
GATEWAY_URL=
